<app-header></app-header>
<div style="height: 50px;"></div>
<div class="container-fluid ">
    <div >
        <div >            
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div>
                            <div class="card-body  z-depth-4">
                                <p class="h4 mb-4  texto-titulo texto-primario-center" *ngIf="brespuesta==false && noPermitido==true">Detalle Notificación</p>
                                <p class="h4 mb-4  texto-titulo texto-primario-center" *ngIf="brespuesta==false && noPermitido==false">Responder Notificación</p>
                                <p class="h4 mb-4  texto-titulo texto-primario-center" *ngIf="brespuesta && noPermitido==true">Detalle Notificación</p>
                                <p class="h4 mb-4  texto-titulo texto-primario-center" *ngIf="brespuesta && noPermitido==false">Detalle Notificación</p>
                                <div style="height: 80px;" ></div>
                                
                                
                                                <div class="row " class="texto-primario">
                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                            <div class="row">
                                                                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 " >
                                                                    <label for="idexpediente" class=" col-form-label">Expediente: <span style="color: red;">*</span></label>
                                                                </div>
                                                                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 ">
                                                                    <input mdbInput type="text" class="form-control" id="idexpediente" maxlength="300" placeholder="" 
                                                                        name="expediente" #expediente="ngModel" [(ngModel)]="notificaciones.folio" [readonly]="isReadonly">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 5px;">
                                                            <div class="row ">
                                                                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 " >
                                                                    <label for="idorigen" class=" col-form-label">De: <span style="color: red;">*</span></label>
                                                                </div>
                                                                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
                                                                    <input mdbInput type="text" class="form-control" id="idorigen" maxlength="300" placeholder="" 
                                                                        name="origen" #origen="ngModel" [(ngModel)]="sorigen" [readonly]="isReadonly">
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                                                                    
                                                                </div>
                                                        
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 5px;">
                                                            <div class="row ">
                                                                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 " >
                                                                    <label for="idpara" class=" col-form-label">Para: <span style="color: red;">*</span></label>
                                                                </div>
                                                                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 ">
                                                                    <input mdbInput type="text" class="form-control" id="idpara" maxlength="300" placeholder="" 
                                                                        name="para" #para="ngModel" [(ngModel)]="spara" [readonly]="isReadonly">
                                                                </div>
                                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                                                                    
                                                                </div>
                                                        
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 5px;">
                                                            <div class="row ">
                                                                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 " >
                                                                    <label for="idasunto" class=" col-form-label">Asunto: <span style="color: red;">*</span></label>
                                                                </div>
                                                                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 ">
                                                                    <input mdbInput type="text" class="form-control" id="idasunto" maxlength="100" placeholder="" 
                                                                        name="asunto" #asunto="ngModel" [(ngModel)]="notificaciones.asunto" [readonly]="isReadonly">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 5px;">
                                                            <div class="row ">
                                                                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 " >
                                                                    <label for="idmensaje" class=" col-form-label">Mensaje: <span style="color: red;">*</span></label>
                                                                </div>
                                                                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 ">                                                

                                                                    <textarea name="mensaje" #mensaje="ngModel" [(ngModel)]="notificaciones.mensaje" type="text" id="idmensaje" style="background-color: white; border-radius: 5px; border: 1px solid #9c9c9c" 
                                                                            class="md-textarea form-control" maxlength="5000" rows="5" mdbInput [readonly]="isReadonly"></textarea>                                                                                
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 5px;">
                                                            <div class="row ">
                                                                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 " >
                                                                    <label for="idmensaje" class=" col-form-label">Archivo adjunto: <span style="color: red;">*</span></label>
                                                                </div>
                                                                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 "   *ngIf="!barchivosolicitud">                                                
                                                                    <fa-icon [icon]="faFileDownload"  mdbTooltip="Descargar archivo"  style="color: #AE105A ; font-size: 23px; cursor: pointer;" (click)="descargarNotificacion(notificaciones.rutaSolicitud)"></fa-icon> 
                                                                </div>
                                                                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 "   *ngIf="barchivosolicitud">                                                
                                                                    No hay archivo adjunto a la notificación
                                                                </div>

                                                            
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 5px;"  *ngIf="noPermitido==false">
                                                            <div class="row ">
                                                                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 " >
                                                                    <label for="idmensaje" class=" col-form-label">Responder: <span style="color: red;">*</span></label>
                                                                </div>
                                                                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 ">                                                

                                                                    <textarea name="respuesta" #respuesta="ngModel" [(ngModel)]="srespuesta" type="text" id="idmensaje" style="background-color: white; border-radius: 5px; border: 1px solid #9c9c9c" 
                                                                            class="md-textarea form-control" maxlength="5000" rows="5" mdbInput [readonly]="brespuesta"></textarea>
                                                                            {{srespuesta.length}}/5000                                                                                
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 5px;"  *ngIf="noPermitido==true && brespuesta">
                                                            <div class="row ">
                                                                <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 " >
                                                                    <label for="idmensaje" class=" col-form-label">Responder: <span style="color: red;">*</span></label>
                                                                </div>
                                                                <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 ">                                                

                                                                    <textarea name="respuesta" #respuesta="ngModel" [(ngModel)]="srespuesta" type="text" id="idmensaje" style="background-color: white; border-radius: 5px; border: 1px solid #9c9c9c" 
                                                                            class="md-textarea form-control" maxlength="5000" rows="5" mdbInput [readonly]="brespuesta"></textarea>
                                                                            {{srespuesta.length}}/5000                                                                                
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 5px;">
                                                            <div class="row ">
                                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 " style=" cursor: pointer;" *ngIf="!brespuesta && noPermitido==false">
                                                                    {{upload.filename}}
                                                                    <input type="file" class="file-input " (change)="onFileSelected($event)"
                                                                    formControlName="upload" #fileUpload accept=".zip, .pdf">

                                                                    <img src="assets/imagenes/clip.png" (click)="fileUpload.click()" class="figure-img img-fluid "
                                                                    alt="..." style="width: 45px" mdbTooltip="Adjuntar archivo en formato .zip o .pdf con un tamaño máximo de 10 megas">
                                                                </div>
                                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 " style=" cursor: pointer;" *ngIf="brespuesta">
                                                                    
                                                                    <div class="row">
                                                                        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 " >
                                                                            <label for="idmensaje" class=" col-form-label">Archivo adjunto: <span style="color: red;">*</span></label>
                                                                        </div>
                                                                        
                                                                        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 "   *ngIf="!barchivoRespuesta">                                                
                                                                            <fa-icon [icon]="faFileDownload"  mdbTooltip="Descargar archivo"  style="color: #AE105A ; font-size: 23px; cursor: pointer;" (click)="descargarNotificacion(notificaciones.rutaRespuesta)"></fa-icon> 
                                                                        </div>
                                                                        
                                                                        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 "   *ngIf="barchivoRespuesta">                                                
                                                                            No hay archivo adjunto a la notificación
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 stycont">
                                                            <div class="row" *ngIf="!brespuesta">

                                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 stycont" >
                                                                    
                                                                </div>
                                                                
                                                                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 stycont" *ngIf="noPermitido==false">
                                                                    <button mdbBtn type="button"  class="btn-block texto-medio boton-primario " (click)="regresar();"  outline="true"   mdbWavesEffect >Regresar</button>                                                
                                                                </div>
                                                                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 stycont" *ngIf="noPermitido==false">                                                
                                                                    <button mdbBtn type="button"  class="btn-block texto-medio boton-primario " (click)="enviarMensaje();"  outline="true"   mdbWavesEffect [disabled]="noPermitido" >Responder</button>
                                                                </div>

                                                                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 stycont" *ngIf="noPermitido==true">                                                
                                                                    
                                                                </div>
                                                                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 stycont" *ngIf="noPermitido==true">                                                
                                                                    <button mdbBtn type="button"  class="btn-block texto-medio boton-primario " (click)="regresar();"  outline="true"   mdbWavesEffect >Regresar</button> 
                                                                </div>
                                                            </div>

                                                            <div class="row" *ngIf="brespuesta">

                                                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 stycont">
                                                                    
                                                                </div>
                                                                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 stycont">                                                
                                                                    
                                                                </div>
                                                                <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 stycont">
                                                                    <button mdbBtn type="button"  class="btn-block texto-medio boton-primario " (click)="regresar();"  outline="true"   mdbWavesEffect >Regresar</button>                                                
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <div style="height: 150px;"></div>
<app-footer></app-footer>                                                    

<div mdbModal #frameAlta="mdbModal" [config]="{backdrop: 'static'}" class="modal fade top" id="basicGreen"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: auto;">
  <div class="modal-dialog modal-lg  mymodalconfirm cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content text-center">

      <!--Header-->
      <div class="modal-header  darken-3 white-text">
        <h4 class="title" style="font-family: Gotham-medium;">
          Aviso</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="frameAlta.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body mb-0 text-center" style="font-family: Gotham-Book;">
        <h5>La respuesta a la notificación se ha enviado correctamente
        </h5>
      </div>
      <div style="font-family: Gotham-Book;">
        
        <div class="row " >
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
              <button mdbBtn type="button"  class=" texto-medio boton-primario" outline="true"  (click)="frameAlta.hide()" mdbWavesEffect>Aceptar</button>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
          </div>

        </div>
        <div style="height: 20px;"></div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "white" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white; font-size: 20px;" class="texto-bajo"> Enviando </p></ngx-spinner>