<app-header></app-header>
<div style="height: 50px;"></div>

<div class="container-fluid ">
    <div >
        <div >
            <div class="container ">
                <div class="row ">
                    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                        <div>

                            <div class="card-body  z-depth-4">
                                <p class="h4 mb-4  texto-titulo texto-primario-center" >Acuerdo de admisión</p>
                                <div style="height: 50px;"></div>

                                    <div class="card-body z-depth-1" >
                                        <div class="row ">
                                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                                                    <div class="row">
                                                        <div class="col-12 col-md-12 col-lg-9 col-xl-9" style="margin-bottom: 20px;">
                                                            <span class="texto-bajo" >Asunto</span>
                                                        </div>
                                                        <div class="col-12 col-md-12 col-lg-3 col-xl-3 pl-0 pr-0">

                                                        </div>

                                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12" >
                                                            <textarea readonly name="asunto" [(ngModel)]="asunto"  type="text" id="form7" style="background-color: white; border-radius: 5px; border: 1px solid #9c9c9c" class="md-textarea form-control texto-bajo" rows="5" mdbInput maxlength="3000"  style="background-color: white;" ></textarea>
                                                        </div>

                                                        <div class="col-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 60px;">
                                                            <span class="texto-bajo" >Descargar acuerdo de admisión</span>
                                                            <div class="md-form input-group  texto-bajo">
                                                                <p class="texto-bajo-primario">{{archivo.filename}}</p>&nbsp;&nbsp;
                                                                <fa-icon [icon]="faDownload"  mdbTooltip="{{archivo.filename}}"  style="color: #AE105A ; font-size: 18px; cursor: pointer;" (click)="descargarArchivo(archivo.filetype)" ></fa-icon>
                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-md-12 col-lg-9 col-xl-9" >

                                                        </div>

                                                        <div class="col-12 col-md-12 col-lg-3 col-xl-3" style="margin-top: 40px;" >
                                                            <button mdbBtn type="button"  class="btn-block texto-medio boton-primario" (click)="navegarConsulta();"   outline="true" >Aceptar</button>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <div style="height: 20px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 150px;"></div>
<app-footer></app-footer>


<div mdbModal #frameFail="mdbModal" [config]="{backdrop: 'static'}" class="modal fade top" id="basicGreen"
  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="overflow: auto;">
  <div class="modal-dialog modal-lg  mymodalconfirm cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content text-center">

      <!--Header-->
      <div class="modal-header  darken-3 white-text">
        <h4 class="title" style="font-family: Gotham-medium;">
          Aviso</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="frameFail.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body mb-0 text-center" style="font-family: Gotham-Book; font-size: 20px;">
        No se ha podido enviar la Opinión Técnica
      </div>
      <div style="font-family: Gotham-Book;">

        <div class="row " >
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
              <button mdbBtn type="button"  class=" texto-medio boton-primario" outline="true"  (click)="frameFail.hide()" mdbWavesEffect>Aceptar</button>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
          </div>

        </div>
        <div style="height: 20px;"></div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>




<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "white" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white; font-size: 20px;" class="texto-bajo"> Cargando </p></ngx-spinner>

