.boton-primario{
    color: #AE105A; 
    border: 2px solid #AE105A;
}

.texto-medio{
    font-family: Gotham-medium !important; 
}



.texto-titulo{
    font-family: Gotham !important;
    font-size: 20px !important;
}



.texto-primario-center{
    color: #AE105A !important;
    text-align: center;
}


.texto-bajo{
    font-family: Gotham-Book !important; 
}

.mymodalconfirm .modal-header{  
    background-color: #AE105A !important;
}



.boton-secundario{
    background-color: #AE105A; 
    border: 2px solid #AE105A;
}





 .form-control{
     color: #AE105A;;
 }

 .texto-bajo-primario{
    color: #AE105A !important;
}

.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

